[submodule "p1-multi-threaded-programming"]
	path = p1-multi-threaded-programming
	url = git@github.com:temttae/eecs482-p1-multi-threaded-programming.git
[submodule "p2-thread-library"]
	path = p2-thread-library
	url = git@github.com:temttae/eecs482-p2-thread-library.git
[submodule "p3-pager"]
	path = p3-pager
	url = git@github.com:temttae/eecs482-p3-pager.git
[submodule "p4-network-file-server"]
	path = p4-network-file-server
	url = git@github.com:temttae/eecs482-p4-network-file-server.git
